*{
    margin: 0;
    padding: 0;
}
header{
	width: 100%;
	height: 89px;
	background-color: #1D334B;
	margin-top: -55px;	
}
header h1{
	width: 112px;
	height: 67px;
	padding: 11px 0px 11px  27.03px; 
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 47px;
	color: white;
}
#topo{
	display: flex;
	width: 100%;
}

#titulo{
	margin: 82px 0px 10px 139px;
	width: 414px;
	height: 72px;
	font-family: Arial;
	font-size: 30px;
	text-align: left;
	color: #4A4A4A;
}

#topo li{
	margin: 82px 0px 10px 420px;
	width: 195px;
	height: 56px;
	text-align: center;
	list-style: none;
	border-radius: 20px;
	border: 2px solid  #1D334B;
	align-items: center;
}
 a{
	color:  #1D334B;
	text-decoration: none;
}

#tabela{
	width: 1024px;
	height: 250px;
	margin-left: 139px;
	border-left: 1px solid #F2F0F0;
	border-right: 1px solid #F2F0F0;
	border-top: 3px solid #1D334B;
	overflow: auto;
	
}

.c1{
	width: 100px;
	user-select: none
}
.c2{
	width: 330px;
	user-select: none
}
.c3{
	width: 180px;
	user-select: none
}

.c4{
	text-align: right;
	width: 300px;
	user-select: none
}
.c5{
	display: flex;
	text-align: right;
	width: 300px;
	list-style: none;	
}

}



#bt-cancelar{
	width: 150px;
	height: 56px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid  #1D334B;
	align-items: center;
}
#bt-cancelar li{
	border: 2px solid  #1D334B;
}
  #bt-cancelar a ,.bt a{
	color:  #1D334B;
	text-decoration: none;
}
.bt{
	width: 54px;
	height: 20px;
	text-align: center;
	list-style: none;
	border-radius: 10px;
	margin-left: 50px;
	border: 2px solid  #1D334B;
	font-family: Arial;
	font-size: 12px;
	color: #1D334B;

}

#bt-salvar{
	width: 150px;
	height: 56px;
	text-align: center;
	list-style: none;
	border-radius: 10px;
	border: 1px solid  #C4C4C4; 
	align-items: center;
	background-color: #C4C4C4;
	margin-left: 50px;
}

#tabela1{
	width: 1024px;
	height: 150px;
	margin-left: 139px;
	border-left: 1px solid #F2F0F0;
	border-right: 1px solid #F2F0F0;
	border-bottom:  1px solid #F2F0F0;
	border-top: 3px solid #1D334B;
	
}

#tabela1 .c2 input{
	/*width: 776px; */
	width: 400px;
	height: 46px;
	border: 1px solid #707070;
}

#tabela1 .c3 input{

	border: 1px solid #707070;
}

#tabela1 th{
	border: transparent;
}

#tabela1 tr{
	border-top: transparent;
}

.mensagem{
	/*width: 951px;*/
	width: 651px;
	height: 62px;
	background-color: #4CC371;
	margin-left: 285px;
	padding: 10px;
	text-align: left;
	color: #FFFFFF;
	font-family: Arial regular;
	font-size: 20px;
}

#mensagem2{
	display: flex;
	justify-content: space-between;
    align-items: center;
	width: 651px;
	height: 62px;
	background-color: #4CC371;
	margin-left: 285px;
	padding: 10px;
	text-align: left;
	color: #FFFFFF;
	font-family: Arial regular;
	font-size: 20px;
}

#mensagem2 a{
	text-align: right;
	color: #FFFFFF;
	font-family: Arial regular;
	font-size: 20px;

}